<% provide(:title, 'Home') %>

<h1>Home</h1>
<h2>CORAL TEAM</h2>
<h3>COMP7012 Ruby Project!!</h3>
<h4>Links Below to navigate the Task pages </h4>

<ul>
	<li><%= link_to 'Example', example_path %>
	<li><%= link_to 'Add_Studio(ssgoli)', new_studio_path %>
	<li><%= link_to 'Studio_Index(ssgoli)', studios_path %>
	<li><%= link_to 'Movie Deleter(ewillis1)', 'movie-delete' %></li>
	<li><%= link_to 'Movie Index(ewillis1)', 'movie-index' %></li>
	<li><%= link_to 'mfshamimTask3a(mfshamim)', edit1_theater_path %></li>
	<li><%= link_to 'mfshamimTask3b(mfshamim)', theaters_path %></li>
	<li><%= link_to 'Task4a(rruchi)', new_review_path %></li>
	<li><%= link_to 'Task4b(rruchi)', reviews_path %></li>
	<li><%= link_to 'HW5a(cpchmpll)', hw5a_path %>
	<li><%= link_to 'HW5b(cpchmpll)', hw5b_path %>

</ul>
