<% provide(:title, 'Home') %>

<h1>Home</h1>
<h2>mfshamim, Class 7012, Ruby project!!!!</h2>

<ul>

	<li><%= link_to 'Movie Deleter', 'movie-delete' %></li>
	<li><%= link_to 'Movie Index', 'movie-index' %></li>
	<li><%= link_to 'Example', example_path %>
	<li><%= link_to 'mfshamimTask3a(mfshamim)', mfshamimTask2a_path %></li>
	<li><%= link_to 'mfshamimTask3b(mfshamim)', mfshamimTask2b_path %></li>
	<li><%= link_to 'Task4a(rruchi)', aAddMovieReview_path %></li>
	<li><%= link_to 'Task4b(rruchi)', vViewMovieReview_path %></li>


	<li><%= link_to 'HW5a(cpchmpll)', hw5a_path %>
	<li><%= link_to 'HW5b(cpchmpll)', hw5b_path %>

</ul>
