<!--cpchmpll-->
<h1>Edit Person</h1>

<%= form_for(@person) do |f| %>
<table>
	<tr>
	<td>
		<center><b><%= f.label :first_name %></b></center>
		<%= f.text_field :first_name %>
	</td>

	<td>
		<center><b><%= f.label :last_name %></b></center>
		<%= f.text_field :last_name %>
	</td>
	<td>
		<center><b><%= f.label :Date_of_Birth %></b></center>
		<%= f.text_field :dob %>
	</td>
</tr>

<tr>
<td></td><td><center><%= f.submit :"Update Person" %></center></td>

</tr>
</table>
<% end %>
<p>Update a person First name, Last name, and DOB and Update Person</p>
<br><hr>


<%= link_to "HOME", root_path %>
