<!--cpchmpll-->
<h1>The Movie Recommender</h1>
<p>
<h2>Stars Index</h2>
<p>
<i>This page thsts all stars in our database</i>
<p>



<table border="2" style="width:100%">
<tr><center><th>First Name</th>
	<th>Last Name</th>
	<th>Date of Birth</th>	
	<th>Films</th></center>
    <th>Links</th></center>
   <td rowspan=<%= @people.length+1 %> bgcolor="yellow"><center><b>All Users</b></center></td>
</tr>
<tr>
<% @people.each do |person| %>
<td><center><%= person.first_name %><center></td>
<td><center><%= person.last_name %></center></td>
<td><center><%= person.dob %></center></td>
<td><center><% person.movies.each do |movie| %>
	    	<%= movie.title %> (<%= movie.year%>)
			<%=  "," %><% end %></center></td>
<td><center>[<%= link_to "Show", person_path(person) %>,
<%= link_to "Edit", edit_person_path(person) %>,
<%= link_to "Delete", person_path(person), method: :delete %>]</center></td>
 </tr>
 <% end %>
</table>
<%= link_to "Add New Person", new_people_path %>
<br><hr>

<p>
	<%= link_to "HOME", root_path %>
</p>