<!--cpchmpll-->
<h1>The Movie Recommender</h1>
<p>
<h2>Add a Person</h2>
<p>

<%= form_for(@person) do |f| %>
<table>
	<tr>
	<td>
		<center><b><%= f.label :first_name %></b></center>
		<%= f.text_field :first_name %>
	</td>
	<td>
		<center><b><%= f.label :last_name %></b></center>
		<%= f.text_field :last_name %>
	</td>
	<td>
		<center><b><%= f.label :Date_of_Birth %></b></center>
		<%= f.text_field :dob %>
	</td>
</tr>
</table>

<%= f.submit %>
<% end %>
<p>Add a person First name, Last name, and DOB and hit Create Person</p>
<br><hr>

<%= link_to "HOME", root_path %>