<!---cpchmpll---->
<h1>Person</h1>
	<ul>
		<li> First Name: <%= @person.first_name %></li>
		<li> Last Name: <%= @person.last_name %> </li>
		<li> DOB: <%= @person.dob %> </li>
	</ul>

	<p>
		<%= link_to "Show all Authors", people_path %>
	</p>
<%= link_to "HOME", root_path %>