<% provide(:title, " | Studio-Index") %>
<H1>The Movie Recommender</H1>
<H2>Studios Index</H2>
<i>This page lists all the studios.</i>
<br>
<br>

<table style="width:100%" border="enable">
	<tr align="center">
		<td><b>Studio Name</b></td>
		<td><b>Studio Address</b></td>
		<td><b>Studio URL</b></td>
		<td><b>Links</b></td>
		<td rowspan=<%= @studios.length+1 %><b>All Studios</b></td>
	</tr>
	<% @studios.each do |studio| %>
	<tr>
    	<td><%= studio.name%></td>
    	<td><%= studio.address%></td>
    	<td><%= studio.url%></td>
    	<td>[<%= link_to "show", studio_path(studio)%>    		
    		<%= link_to "edit", edit_studio_path(studio) %>
    		<%= link_to "delete", studio_path(studio), method: :delete, data: {confirm: "Are you sure?"} %>]</td>
  	</tr>
  	<%end%>
</table>
<br>
<b><%= link_to "create studio", new_studio_path%></b><br>
<hr>
<%= link_to "HOME", root_path %>	

  
