<% provide(:title, 'Review-Add') %>

		<h1>The Movie Recommender</h1>
		<%= form_for :addReview do |review| %>

		<table border="1">
			<tr>
				<td colspan=2 align="middle">
					<h2>Add a Review</h2>
				</td>
			</tr>
			
			<tr>
				<td>Movie Title:</td>
				<td><%= review.text_field :title %></td>
			</tr>
				<td>Movie Stars:</td>
				<td><%= review.select(:stars, options_for_select([['1 Star','1'],['2 Star','2'],['3 Star', '3'],['4 Star','4'],['5 Star','5']])) %></td>
			</tr>
			<tr>
				<td>Commentary:</td>
				 <td><%= review.text_field :commentary %></td>
			</tr>
			<tr>
				<td><%= review.submit 'Add Review'%></td>
				<% end %>
				<td align="right">
					<button type="button" onclick="alert('Dummy Message: Non Functional Button')">
						Cancel
					</button>
				</td>
			</tr>
			<tr>	
				<td colspan=2>
					<i>Rate the movie and leave a comment in the text area above</i>
				</td>
			</tr>
		</table>
		<hr>

<%= link_to "Home", root_path %>
