<!--rruchi-->
<h1> Edit Review </h1>

<%= form_for(@review) do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :stars %><br>
		<%= f.text_field :stars %>
	</p>
	<p>
		<%= f.label :commentary %><br>
		<%= f.text_field :commentary %>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>