<!-- mfshamim -->
<h1>Theater</h1>

<ul>
	<li>Theater Name: <%= @theater.theater_name %></li>
	<li>Theater Address: <%= @theater.theater_address %></li>
	<li>Theater Phone Number: <%= @theater.theater_phone %></li>
  <li>Owners:
    <ul>
      <% @theater.studios.each do |studio| %>
      <li><%= studio.name %></li>
      <% end %>
    </ul>
  </li>
</ul>

<p>
	<%= link_to "Show All Theater", theaters_path %>
</p>
